# Visual Studio / MSBuild
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.tlog/
*.res
*.obj
*.idb

# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
**/Release/
**/Debug/
x64/
x86/

# Generated output directories
Output/
**/Output/

# Debug symbols / generated binaries
*.pdb
*.ilk
*.exe
*.dll
*.log

# Test environments & runtime data
CDN_Test/
Release_Test/
downloads/
version.dat
/LauncherData/
test_subfolder/
xampp_deploy/
*.zip

